@import url(root.css);

@media(max-width:1200px){
    .conteudo{
        flex-direction: column;
        margin: 0;
    }

    .formulario{
        margin: 0;
    }

    .formulario-itens{
        flex-direction: column;
    }

    .formulario-botoes{
        flex-direction: column;
    }

    button{
        margin: 0.5rem 0;
    }

    input{
        margin: 0.5rem 0 0 0;
    }
    .lista{
        width: auto;
        max-width: auto;
        margin: 1rem;
    }
}